# Byte-compiled / cache files
*.py[cod]
__pycache__/

# Virtual environment
venv/

# Environment variables
.env

# SQLite DB (if ever used again)
db.sqlite3

# Media & Static (runtime files)
media/
staticfiles/

# Static collected files
static/

# Editor directories and IDE settings
.vscode/
.idea/

# Log files
nohup.out

# Sockets or runtime deployment
*.sock

# Test scripts (optional)
test_*.py

